html, body {
	overflow-y: visible;
}
.list-container {
	justify-content: center;
}
.sign-list {
	margin-top: 20px;
	margin: 0 auto;
}
.sign {
	color: #fff;
	padding: 5px;
	margin: 10px;
}
.s1 {
	background-color: #000;
}
.s2 {
	background-color: #ff0;
}
.s3 {
	background-color: #f00;
}
.s4 {
	background-color: #0f0;
}
.scope {
	display: none;
}
