html, body {
	overflow-y: visible;
}
.list-container {
	justify-content: center;
}
.sign-list {
	margin-top: 20px;
	margin: 0 auto;
}
.sign {
	color: #fff;
	padding: 5px;
	margin: 10px;
}
.s1 {
	background-color: #000;
}
.s2 {
	background-color: #00f;
}
.s3 {
	background-color: #0ff;
}
.s4 {
	background-color: #fff; color: black;
	
}
.scope {
	display: none;
}
